NEXT_PUBLIC_API_URL=https://10.67.61.238/api/
NEXT_PUBLIC_COOKIE_DOMAIN=10.67.61.238
BHULEKH_CLIENT_ID=ekharid
BHULEKH_CLIENT_SECRET=ekharid321BOR
NEXT_PUBLIC_BHULEKH_CLIENT_ID=ekharid
NEXT_PUBLIC_BHULEKH_CLIENT_SECRET=ekharid321BOR
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_RoiQg49WIEMGWA
RAZORPAY_KEY_SECRET=rzp_test_RoiQg49WIEMGWA